* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(aquamarine, aqua) fixed;
}
.wrapper {
	width: 1170px;
	margin: auto;
  padding-left: 270px;
}

.nav-area {
	float: right;
	list-style: none;
	margin-top: 50px;
	background-color: white;
	box-shadow: 2px 2px 5px #333;
	font-size: 25px;
  border-radius: 5px;
	
	
}


.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: black;
	text-decoration: none;
	padding: 5px 10px;
	font-family: poppins;
	font-size: 20px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #333;
	color: white;
  border-radius: 5px;
	transition: .5s;
}
.nav-area a.active {
    color: white;
	background-color: #333;
  }
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}



main{
	position:relative;
	height:100vh;
}
	

.menu{
	background:#5bc995;
	height:100vh;
	width:240px;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	outline:none;
}
	
.menu	.avatar{
		background:rgba(0,0,0,0.1);
		padding:2em 0.5em;
		text-align:center;
}	
  .menu	img{
			width:100px;
			border-radius:50%;
			overflow:hidden;
			border:4px solid #ffea92;
			box-shadow:0 0 0 4px rgba(255,255,255,0.2);
		}
		
	.menu	h2{
			font-weight:normal;
			margin-bottom:0;
		}
	
	
	
 .leftbar   ul{
      list-style:none;
      padding:0.5em 0;
      margin:0;
      }
      
  .leftbar ul	li{
        padding:0.5em 1em 0.5em 3em;
        font-size:0.95em;
        font-weight:regular;
        background-repeat:no-repeat;
        background-position:left 15px center;
        background-size:auto 20px;
        transition:all 0.15s linear;
        cursor:pointer;
      }
      
        
  .leftbar ul	li:hover{
          background-color:rgba(0,0,0,0.1);
        }
        
  .leftbar ul li:focus{
          outline:none;
        }
        
      
        

/*modifica password*/



.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  background: transparent;
  transition: border-color 0.2s;
}

 .form__field:placeholder {
    color: transparent;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }


.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
  max-width: 1000px;
}


.form__field  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-weight:700;    
  }
  
/* reset input */
.form__field:required,.form__field:invalid{
   box-shadow:none; }

/* demo */
.main{
	position:absolute;
	height: 500px;;
    background-color: white;
    width: 870px;
    top: 200px;
    left: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #333;
    
    
}

.linea{
  margin-top: -200px;
}
	
	.helper{
		
		position:relative;
        
		top:100px;
		left:250px;
		transform:translate3d(-50%,-50%,0);
		padding:1.2em 2em;
    width: 370px;
    
    
    

  }

  .helper.avatar{
		padding:2em 0.5em;
		text-align:center;
    }

    .helper img{
      width:150px;
			border-radius:50px;
			overflow:hidden;
			
      

    }

    .mano{
      position: relative;
      height: 500px;
      top: -253px;
      left: 425px;
      border-left: 1px solid rgb(190, 190, 190)
    }
  .btn-btn-confirm, .btn-btn-cancel{
      display:inline-block;
      margin-right:2px;
      padding: 10px 25px;
      background: none;
      border:1px solid #c0c0c0;
      color: white;
      border-radius: 10px;
      text-transform: uppercase;
      background-color:#5bc995;
      font-size:1.125em;
      outline:none;
      transition: all 100ms ease-out;
    }
    .helperimg{
      position: relative;
      color: #333;
      text-shadow: 1px 1px lightblue;
      top:370px;
      left:670px;
      height: 204px;
      width: 300px;
      transform:translate3d(-50%,-50%,0);
      padding:1.2em 2em;
      
      position: absolute;
     
  
    }

    /*modifica password*/
    .helperpass{
      position: relative;
      top:377px;
      left:220px;
      transform:translate3d(-50%,-50%,0);
      padding:1.2em 2em;
      color: #333;
      text-shadow: 1px 1px lightblue;
      
      position: absolute;
    }
  


    /*dati personali e modifica immagine*/
    
  

    /*slogan*/

    .helperslogan{
      position: relative;
      top:-55px;
      left:620px;
      width: 35%;
      transform:translate3d(-50%,-50%,0);
      padding:1.2em 2em;
      
      
    }
    .helperslogan img{
      width:345px;
			overflow:hidden;
			box-shadow:0 0 0 4px rgba(255,255,255,0.2);
      border:4px solid #ffea92;
      height: 100%;

    }