.wrapper {
	width: 1170px;
	margin: auto;
}

header {
	background-color:aquamarine;
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #000;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}

.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(220, 245, 221);
    
}

.card:hover{
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
.container{
    padding: 2px 16px;
}
body{
font-family: Gotham;
}

.event--img {

    overflow: hidden;

}

.event--img img {

    width: 115%;

    transition: all .5s;
}

.event--img img:hover {

    transform: scale(1.2);
    filter: brightness(.8);

}

.event--menu h4 {

    font-size: 4.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #182731;
    

    line-height: 1.2;

}

.event--menu h4::after {

    content: " ";
    display: block;
    width: 16rem;
    height: 4px;
    background: #0984e3;

}
.event--detail {

    
    list-style-type: none;

}

.event--detail li {

    font-size: 1.7rem;
    font-weight: 400;
    float: left;

    padding: .4rem;

}

.event--detail li i {

    font-size: 1.4rem;
    font-weight: 400;
    

}

.event--detail li span {

    font-size: 1.5rem;
    font-style: italic;

}
.event--text h4 {
    padding-top: 70px;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;

    color: #062d49;
    letter-spacing: 2px;
    line-height: 1.7;

}

.event--text p {

    font-size: 1.4rem;
    font-weight: 400;

}
.btn {

    margin: 3.5rem 0;
}

.btn a:link,
.btn a:visited {

    text-transform: uppercase;

    
    padding: 1.4rem 2.7rem;
    border-radius: 2px;

    color: #fff;
    background:#062d49;

   

}

.btn a:hover {

   
    background: #05473a;
}