* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(aquamarine, aqua) fixed;
    display: grid;
    place-items: center;
}
.wrapper {
	width: 1170px;
	margin: auto;
  padding-left: 270px;
}

.nav-area {
	float: right;
	list-style: none;
	margin-top: 50px;
	background-color: white;
	box-shadow: 2px 2px 5px #333;
	font-size: 25px;
  border-radius: 5px;
	
	
}


.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: black;
	text-decoration: none;
	padding: 5px 10px;
	font-family: poppins;
	font-size: 20px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #333;
	color: white;
  border-radius: 5px;
	transition: .5s;
}
.nav-area a.active {
    color: white;
	background-color: #333;
  }
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}



/* main events*/




section .events ul{
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	margin: 0;
	padding: 40px;
	margin-top: 250px;
	margin-right: 200px;
	box-sizing: border-box;
	
}

section .events ul li{
	list-style: none;
	background: #fff;
	box-sizing: border-box;
	height: 180px;
	

}

section .events ul li .time{
	position: relative;
	padding: 20px;
	background: #262626;
	box-sizing: border-box;
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	transition: .5s;
}

section .events ul li:hover .time{
	background: #05473a;
}

section .events ul li .time h2{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 50px;
	line-height: 30px;

}

section .events ul li .time h2 span{
	font-size: 25px;	
}

section .events ul li .details{
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	float: left;
}

section .events ul li .details h3{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 22px;
}

section .events ul li .details p{
	position: relative;
	margin: 10 px 0 0;
	padding: 0;
	font-size: 16px;
}


section .events ul li .details a{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 15px;
	border: 2px solid #262626;
	margin-top: 15px;
	font-size: 18px;
	transition: .5s;
}

section .events ul li .details a:hover{
	background:#05473a;
	color: #fff;
	border-color: #05473a;
}

section .crea-evento{
	
	padding-left: 100px;
}

section .crea-evento .slogan{
	text-align: center;
	
}

section .crea-evento .slogan h1 {
	text-align: right;
	color: #000;
	text-transform: uppercase;
	font-size: 40px;
	
}
section .crea-evento .slogan h1 span {
	color: #05473a;
	font-size: 50px;
	text-align: center;
	
}

section .crea-evento .slogan a{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 15px;
	background: linear-gradient(aquamarine, #0b8f74);
	border: 2px solid #262626;
	margin-top: 15px;
	font-size: 60px;
	color: #05473a;
	transition: .5s;
	border-radius: 20px;
}

section  .crea-evento .slogan a:hover{
	background:#05473a;
	color: #fff;
	border-color: #05473a;
}


/* main events*/



main{
	position:relative;
	height:100vh;
}
	

.menu{
	background:#5bc995;
	height:100vh;
	width:240px;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	outline:none;
}
	
.menu	.avatar{
		background:rgba(0,0,0,0.1);
		padding:2em 0.5em;
		text-align:center;
}	
  .menu	img{
			width:100px;
			border-radius:50%;
			overflow:hidden;
			border:4px solid #ffea92;
			box-shadow:0 0 0 4px rgba(255,255,255,0.2);
		}
		
	.menu	h2{
			font-weight:normal;
			margin-bottom:0;
		}
	
	
	
 .leftbar   ul{
      list-style:none;
      padding:0.5em 0;
      margin:0;
      }
      
  .leftbar ul	li{
        padding:0.5em 1em 0.5em 3em;
        font-size:0.95em;
        font-weight:regular;
        background-repeat:no-repeat;
        background-position:left 15px center;
        background-size:auto 20px;
        transition:all 0.15s linear;
        cursor:pointer;
      }
      
        
  .leftbar ul	li:hover{
          background-color:rgba(0,0,0,0.1);
        }
        
  .leftbar ul li:focus{
          outline:none;
        }

 
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}

	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	
}
