* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(aquamarine, aqua) fixed;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 50px;
	background-color: white;
	box-shadow: 5px 5px 2px lightblue;
	font-size: 25px;
	
	
}


.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: black;
	text-decoration: none;
	padding: 5px 10px;
	font-family: poppins;
	font-size: 20px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #333;
	color: white;
	transition: .5s;
}
.nav-area a.active {
    color: white;
	background-color: #333;
  }
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}

.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(220, 245, 221);
    margin: 20dp;
}

.card:hover{
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
.container{
    padding: 2px 16px;
}
body{
font-family: Gotham;
}

.card .time h2 {
    font-size: 28px;
    color: #05473a;
}
.card .time h2 span{
	font-size: 25px;
    color: #000;	
}

.card h4{
    font-size: 24px;
}

.card p{
    font-size: 15px;
}

.btn {

    margin: 3.5rem 0;
}

.btn a:link,
.btn a:visited {

    text-transform: uppercase;

    
    padding: 1.4rem 2.7rem;
    border-radius: 2px;

    color: #fff;
    background:#062d49;

   

}

.btn a:hover {

   
    background: #05473a;
}