<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applicazionevera">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/immagine"
        android:label="EventApp"
        android:logo="@drawable/immagine"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Applicazionevera">

        <activity
            android:name=".Login"
            android:label="LOGIN"
            android:exported="false" />
        <activity
            android:name=".SezioneCommenti"
            android:label="COMMENTI"
            android:exported="false" />
        <activity
            android:name=".EventoDettagliato"
            android:label="COMMENTI"
            android:exported="false" />
        <activity
            android:name=".Evento"
            android:label="EVENTI"
            android:exported="false" />
        <activity
            android:name=".Categorie"
            android:label="CATEGORIE"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:label="SETTINGS"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CreaEvento"
            android:label="CREA EVENTO"
            android:exported="false" />
        <activity
            android:name=".Registrazione"
            android:label="REGISTRAZIONE"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".Privacy"
            android:label="PRIVACY"
            android:exported="false" />
        <activity
            android:name=".Preferenze"
            android:label="PREFERENZE"
            android:exported="false" />
        <activity
            android:name=".Notifiche"
            android:label="NOTIFICHE"
            android:exported="false" />
        <activity
            android:name=".Assistenza"
            android:label="ASSISTENZA"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:label="ACCOUNT"
            android:exported="false" />
        <activity
            android:name=".Cambiopassword"
            android:label="CAMBIOPASSWORD"
            android:exported="false" />
        <activity
            android:name=".Modificaimmagine"
            android:label="MODIFICAIMMAGINE"
            android:exported="false" />
        <activity
            android:name=".Mappa"
            android:label="MAPPA"
            android:exported="false" />
        <activity
            android:name=".Calendario"
            android:exported="false" />
        <activity
            android:name=".Caricamento"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>