<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applicazionevera">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="info.android.googlemapsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />




    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyC7ZQEj8KF3D4izXIT7DqxviVBtObVGTsg" />

    <application
        android:name=".GloblalElite"
        android:allowBackup="true"
        android:icon="@drawable/immagine"
        android:label="EventApp"
        android:logo="@drawable/immagine"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Applicazionevera"
        android:usesCleartextTraffic="true">



        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".FilterActivity"
            android:exported="false"
            android:parentActivityName=".Search"
            android:label="Search" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="LOGIN" />
        <activity
            android:name=".SezioneCommenti"
            android:exported="false"
            android:parentActivityName=".EventoDettagliato"
            android:label="COMMENTI" />
        <activity
            android:name=".Evento"
            android:exported="false"
            android:label="EVENTI" />
        <activity
            android:name=".Categorie"
            android:parentActivityName=".Home"
            android:exported="false"
            android:label="CATEGORIE" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:label="SETTINGS" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CreaEvento"
            android:exported="false"
            android:parentActivityName=".Home"
            android:label="CREA EVENTO" />
        <activity
            android:name=".Registrazione"
            android:exported="false"
            android:label="REGISTRAZIONE" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".Privacy"
            android:parentActivityName=".Settings"
            android:exported="false"
            android:label="PRIVACY" />
        <activity
            android:name=".Preferenze"
            android:exported="false"
            android:parentActivityName=".Settings"
            android:label="PREFERENZE" />
        <activity
            android:name=".Notifiche"
            android:exported="false"
            android:label="NOTIFICHE" />
        <activity
            android:name=".Assistenza"
            android:exported="false"
            android:parentActivityName=".Settings"
            android:label="ASSISTENZA" />
        <activity
            android:name=".Account"
            android:parentActivityName=".Settings"
            android:exported="false"
            android:label="ACCOUNT" />
        <activity
            android:name=".Cambiopassword"
            android:parentActivityName=".Account"
            android:exported="false"
            android:label="CAMBIOPASSWORD" />
        <activity
            android:name=".Modificaimmagine"
            android:parentActivityName=".Account"
            android:exported="false"
            android:label="MODIFICAIMMAGINE" />
        <activity
            android:name=".EventoDettagliato"
            android:exported="false" />
        <activity
            android:name=".Calendario"
            android:exported="false" />
        <activity
            android:name=".Caricamento"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>