<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applicazionevera">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Applicazionevera">
        <activity
            android:name=".SezioneCommenti"
            android:exported="false" />
        <activity
            android:name=".EventoDettagliato"
            android:exported="false" />
        <activity
            android:name=".Evento"
            android:exported="false" />
        <activity
            android:name=".Categorie"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".Caricamento"
            android:exported="false" />
        <activity
            android:name=".Registrazione"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".Privacy"
            android:exported="false" />
        <activity
            android:name=".Preferenze"
            android:exported="false" />
        <activity
            android:name=".Notifiche"
            android:exported="false" />
        <activity
            android:name=".Assistenza"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".Cambiopassword"
            android:exported="false" />
        <activity
            android:name=".Modificaimmagine"
            android:exported="false" />
        <activity
            android:name=".Mappa"
            android:exported="false" />
        <activity
            android:name=".Calendario"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>